NEXT_PUBLIC_URL_BACKEND=http://localhost:3000
FIREBASE=
DATABASE_URL=
GOOGLE_ID=
GOOGLE_SECRET=
NEXTAUTH_URL= http://localhost:3000
NEXTAUTH_SECRET= 3123123
RESEND_API_KEY=


SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
NEXT_PUBLIC_EMAIL_TO=